<!DOCTYPE html>
<html lang="en">
<head>
    <title>Label Me</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href=/static/bootstrap.min.css>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/tether.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>


    <script src="/static/main.js"></script>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
<div class="container-fluid">

    <div class="jumbotron text-xs-center">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead">Feel free to submit <strong>another :) </strong></p>
        <hr>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="/labelme" role="button">Continue to homepage</a>
        </p>

    </div>
</div>

</body>
</html>